/* LiveAudio Webpage Styles*/

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    /* background: linear-gradient(rgb(223, 255, 181), rgb(255, 255, 255)); */
    font-family:"Roboto", sans-serif;
    padding: 0;
    margin: 0;
    order: 1;
}

.centered {
    position: absolute;
    margin-top: 100px;
    left: 1%;
    right: 1%;
    text-align: center;
    font-size: 17px;
}

h2 {
    margin-bottom: 20px;
}

.subtitle {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 17px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.audioData_container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically within the container */
    align-items: center;
    width: 100%;
    background: #fff;
    border: none;
    padding-left: 10%;
    padding-right: 10%;
    
}

.container_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.canvas_container {
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.canvas_audio {
    height: 350px;
    background: #f9f9f9;
    margin: auto;
    box-shadow: inset 0px 0px 25px -15px #000;
    border-radius: 5px;
    overflow: hidden;
}


audio {
    width: 100%;
    margin-top: 10px;
}

.container {
    width: 80%;
    display: flex;
    margin-left: 10%;
    justify-content: space-evenly;
    border: 1px solid #ccc;
}

.record_control_container, .Btns_container {
    background: #fff;
   
    width: 48%; 
}

.rec_buttons, .save_buttons{
    text-align: center;
    margin: 10px;
    margin-left: 0;
    padding: 5px;
    padding-top: 20px;
}

.rec_buttons p {
    text-align: center;
    margin-left: 30px;
}

.rec_buttons button {
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
    padding: 10px 40px; 
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    transition: .3s;
}

.start_btn {
    background-color: rgb(38, 222, 47);
}

.stop_btn {
    background-color: rgb(255, 47, 47);
}

.rec_buttons .start_btn:hover {
    background-color: rgb(25, 141, 31);
    color: white;
    transition: .3s;
}

.rec_buttons .stop_btn:hover {
    background-color: rgb(200, 45, 45);
    color: white;
    transition: .3s;
}

.save_buttons{
    margin-right: 0;
    display: block;
}

.save_buttons input {
    width: 170px;
    text-align: center;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
}

#saveRecording {
    width: fit-content;
}

.save_buttons input[type="button"]:hover {
    background-color: #555555;
    color: white;
}


#saveRecording, #saveSpectrogram, #saveWaveform {
    margin-top: 1%;
    border: rgba(0,136,169,1);
    background-color: rgba(0,136,169,1); 
    color: #FFFFFF;
}

#saveRecording:hover, #saveSpectrogram:hover, #saveWaveform:hover {
    border: #e75100;
    background-color: #e75100; 
    color: #FFFFFF;
}

#saveSpectrogram:disabled {
    background-color: #6d6c6c; 
    color: #ffffff; 
    border: #4e4e4e; 
}
