/* Split the screen in half */
.split {
    height: 90%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 9%;
    overflow-x: hidden;
}

.left, .right{
    /* background-color: white; */
    background: linear-gradient(hsl(0, 0%, 100%), rgb(252, 255, 249));
}

/* Control the left side */
.left {
    left: 0;
}

/* Control the right side */
.right {
    right: 0;
}

/* content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    text-align: left;
}

.left .centered {
    right:2%
}

.right .centered {
    left:2%
}

/*********** File Tabs *************/

/* Style the tab */
.fileTabs {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* max-width: fit-content; */
    max-width: 100%;
    padding: 10px;
}

.fileTabs input[type="radio"] {
    display: none;
}

/* Tab labels */
.fileTabs label {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    color: black;
    display: block;
}

.fileTabs .fileTabcontent {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    order: 1;
    display: none;
    padding-left: 10px;
    padding-right:10px;
    align-items: center;
}

.fileTabs input[type="radio"]:checked + label + .fileTabcontent {
    display: block;
}

.fileTabs input[type="radio"]:checked + label {
    background: #ccc;
}

.fileTabcontent input{
    float: right;
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
    width: 45%;
    cursor: pointer;
}

.fileTabcontent p {
    padding-left: 1rem;
    font-size: small;
}
/********* plot style **********/
#plot {
    float: right;
    width: fit-content;
    height: fit-content;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.fileTabcontent {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.canvas_audio {
    width: 100%;
    height: 200px; 
    margin: 10px 0; 
}

/*------------------ Buttons ---------------------*/
#csv_plot, #clearButton, #saveButton, #submit_btn  {
    margin-top: 1%;
    border: rgba(0,136,169,1);
    background-color: rgba(0,136,169,1); 
    color: #FFFFFF; 
}

#csv_plot:hover, #clearButton:hover, #saveButton:hover, #submit_btn:hover {
    border: #e75100;
    background-color: #e75100; 
    color: #FFFFFF; 
}

#saveButton, #submit_btn, #prevButton, #extractFeaturesButton {
    margin-right: 3%;
}

#button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 1%;
}

#prevButton, #nextButton {
    border: lightgray;
    background-color: lightgray;
    color: #000000;
    padding: 10px 20px; 
}

#prevButton:hover, #nextButton:hover {
    border: #393A3D;
    background-color: #393A3D;
    color: #FFFFFF;
}

#plotWAVButton, #extractFeaturesButton {
    margin-top: 1%;
    border: rgba(0,136,169,1);
    background-color: rgba(0,136,169,1); 
    color: #FFFFFF;
}

#plotWAVButton:hover, #extractFeaturesButton:hover {
    border: #e75100;
    background-color: #e75100; 
    color: #FFFFFF; 
}

#outputText, #outputText1 {
    font-size: larger;
}

/*------------------ Table ---------------------*/
#csv-table-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#csv-table {
    width: 80%; 
    border-collapse: collapse; 
    border: 2px solid #333; 
}

#csv-table th, #csv-table td {
    padding: 8px 12px; 
    text-align: center; 
    border: 1px solid #333; 
}

#csv-table th {
    background-color: #333;
    color: white;
}

/*------------------ VA Plot IMG ---------------------*/
#hide_image {
    margin-top: 4%;
}
