@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background: white;
    /* background: linear-gradient(rgb(223, 255, 181), rgb(255, 255, 255)); */
    font-family:"Roboto", sans-serif;
}

/* Style the links inside the navigation bar */
.nav {
    display: flex;
    background-color: #333;
    overflow: hidden;
}

.nav a {
    display: flex;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 40px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: #04AA6D;
    color: white;
}

  /* Create a right-aligned help link inside the navigation bar */
.help {
    margin-left: auto;
    float: right;
    background-color: darkgrey;
    color: white;
}

/* .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 800px;
    margin: auto;
    margin-top: 20px;
} */

.subtitle {
    text-align: center;
    color: black;
    font-size: 18px;
}

.centered p {
    font-size: 15px;
}

.mediaPlayerTabcontent input{
    float: right;
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
}

/* Create two equal columns that floats next to each other */
.column {
    column-fill: balance;
    float: left;
    width: 50%;
}

/* Split the screen in half */
.split {
    height: 83%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
}

/* Control the left side */
.left {
    left: 0;
    background-color: white;
}

/* Control the right side */
.right {
    right: 0;
}

.left, .right{
    /* background-color: white; */
    background: linear-gradient(hsl(0, 0%, 100%), rgb(252, 255, 249));
}

/* content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    text-align: left;
}

/* Style the image inside the centered container*/
.centered img {
    width: 100%;
    border-radius: 0%;
}

/* style for video and audio player */
label{
    color: black;
    font-size: 17px;
}

/* .video-wrapper, .audio-wrapper {
    height: 100%;
    width: 100%;
} */

.video, .audioWaveform {
    width: 100%;
    height: "auto";
    max-width: 100%;
    max-height: 100%;
    background: #E0E0E0;
}

.icon-bar {
width: auto;
background-color: darkgray;
overflow: auto;
}

.icon-bar a {
float: left;
width: 14%;
text-align: center;
padding: 10px 0;
transition: all 0.3s ease;
color: white;
font-size: 10px;
}

.icon-bar a:hover {
background-color: #000;
}

.audio-container{
    width: 100%;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.3);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.audio-container .audioWaveform{
    background: #222;
    width: 100%;
    height: 130px;
}

.audio-container .track-name{
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    background: rgba(0,0,0,0.7);
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 10px;
}

.audio-container .btn{
    padding: 16px;
    width: 24px;
    margin-right: 8px;
    cursor: pointer;
    display: inline-block;
}

.audio-container .volume-slider{
    width: 200px;
}
.audio-container .buttons .play-btn .fa-pause{
    display: none;
}
.audio-container .buttons .mute-btn .fa-volume-mute{
    display: none;
}

/* Style the tab */
.mediaPlayerTabs, .EMtabs{
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 10px;
}

.mediaPlayerTabs input[type="radio"], .EMtabs input[type="radio"]{
    display: none;
}

.mediaPlayerTabs label, .EMtabs label {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    color: black;
    display: block;
}

.mediaPlayerTabs .mediaPlayerTabcontent, .EMtabs .EMtabContent {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    order: 1;
    display: none;
}

.mediaPlayerTabs input[type="radio"]:checked + label + .mediaPlayerTabcontent, .EMtabs input[type="radio"]:checked + label + .EMtabContent {
    display: block;
}

.mediaPlayerTabs input[type="radio"]:checked + label, .EMtabs input[type="radio"]:checked + label {
    background: #ccc;
}

.EMtabContent .content {
    padding: 15px;
}

.inputTextBox label{
    font-size:15px;
    width: auto;
    display: inline-block;
}

.inputTextBox .save_btn {
    margin-left: 10px;
}




/************ 1D slider bar ******************/
input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    /*  overflow: hidden;  remove this line*/
    
    /* New additions */
    height: 6px;
    background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
/* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: none;

/* box-shadow: -407px 0 0 400px #f50; emove this line */
transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: none;

/* box-shadow: -407px 0 0 400px #f50; emove this line */
transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}

.arousalWrapper {
        transform: rotate(270deg);  
}
/*=============
Aesthetics 
=========================*/

.valenceWrapper, .arousalWrapper{
    color: #4b4949; 
    background: #f50;
    /* max-width: 400px; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.range {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
    height: 4rem;
    width: 80%;
    background: #fff;
    padding: 0px 10px;
}

.valenceValue, .arousalValue {
    font-size: 26px;    
    width: 50px;
    text-align: center;
}

/*********multiple slider bars*******************/

.range-slider {
    margin: 60px 0 0 0;
}

.range-slider {
    width: 100%;
    box-sizing: border-box;
}

.range-slider__range {
    -webkit-appearance: none;
    /* width: calc(100% - (73px)); */
    max-width: 400px;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}


/*********audio waveform**************************/

.sh-card {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #edf2f7;
    padding: 7px 10px;
    border-radius: 50px;
    border: none;
    color: #000;
    box-shadow: 2px 2px 20px -10px #000;
    transition: all 0.3s ease;
    z-index: 99999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    overflow: hidden;
    width: 18px;
    white-space: nowrap;
}
.sh-card:hover {
    width: 92px;
}

.sh-card-icon, .sh-card-info {
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
}

.sh-card-info {
    font-size: 16px;
    margin-left: 7px;
    }

.sh-card-icon {
    width: 18px;
    height: 15px;
}

.sh-card-link, .sh-card-link:hover, .sh-card-link:active, .sh-card-link:visited {
    color: #000;
    text-decoration: none;
    line-height: 1;
}

.sh-card-box {
    display: block;
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
.sh-bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    opacity: 0;
}

.mediaPlayerTabcontent audio {
    width: 100%;
}

canvas {
    width: 100%;
    height: 250px;
    background: #f9f9f9;
    margin: auto;
    box-shadow: inset 0px 0px 25px -15px #000;
    border-radius: 5px;
    overflow: hidden;
}

.mediaPlayerTabcontent p {
    padding-left: 1rem;
    font-size: small;
}

